---
import { getCollection, getEntry, render } from 'astro:content';
import Layout from "../../../layouts/Layout.astro";
import Header from "../../../components/Header.astro";
import BengaliText from '../../../components/BengaliText.astro';
import Transliteration from '../../../components/Transliteration.astro';

// Define `getStaticPaths` to generate paths for specific sections
export async function getStaticPaths() {
  // Fetch all chapters, frontmatter, and backmatter
  const sections = await getCollection('books', ({ data }) =>
    data.type === 'chapter' || data.type === 'frontmatter' || data.type === 'backmatter'
  );

  const paths = sections.map((section) => ({
    params: {
bookId: section.slug.split("/")[0], // Use the book ID
      sectionId: section.slug.split("/").slice(1).join("/"), // Use the section slug
    },
  }));

  return paths;
}

const { bookId, sectionId } = Astro.params;

const book = await getEntry("books", `${bookId}`)

if (!book) {
  // Handle Error, for example:
  throw new Error('Could not find book');
}

// Fetch the specific section by slug
const section = await getEntry("books", `${bookId}/${sectionId}`)

if (!section) {
  // Handle Error, for example:
  throw new Error('Could not find blog post 1');
}
const { Content, headings } = await render(section);

const first = (arr) => Array.isArray(arr) && arr.length > 0 ? arr[0] : null

const previousSection = first(section.data.order > 0 ? await getCollection("books", (s) => s.data.order === section.data.order - 1) : null);
const nextSection = first(await getCollection("books", (s) => s.data.order === section.data.order + 1));

---

<Layout>
  <Header currentBook={book}/>
  <main class="pt-20 chapter-main p-4 max-w-5xl mx-auto">

    {section.data.chapterTitle && (
        <h2 class="text-xl font-bold text-surface2 mb-2 p-2 items-start gap-2 text-center poppins-extrabold">
          <div class="text-xl mb-1">
            {section.data.type === "chapter" && `Chapter ${section.data.chapter}`}
          </div>
          <div>
            <BengaliText generateTransliteration={false}>{section.data.chapterTitle.bn}</BengaliText>
            <Transliteration>{section.data.chapterTitle.en}</Transliteration>
          </div>
        </h2>
    )}

    {section.data.date && (
        <p class="text-center poppins-regular">
          <BengaliText generateTransliteration={false}>{section.data.date.bn}</BengaliText>
          <Transliteration>{section.data.date.en}</Transliteration>
        </p>
    )}

    {section.data.sectionTitle && (
        <h3 class="text-2xl font-bold text-lavender mb-2 p-2 text-center poppins-extrabold">
          <BengaliText generateTransliteration={false}>{section.data.sectionTitle.bn}</BengaliText>
          <Transliteration>{section.data.sectionTitle.en}</Transliteration>
        </h3>
    )}

  {section.data.quote && (
    <blockquote class="text-center font-serif w-full">
      <BengaliText>
        {section.data.quote.bn.split("\n").map(s => <p>{s.trim()}</p>)}
      </BengaliText>
      {section.data.quote.source && (
          <footer>
            <cite>
              <BengaliText generateTransliteration={typeof section.data.quote.source.en === "undefined"}>{section.data.quote.source.bn}</BengaliText>
              {section.data.quote.source.en && (
                  <Transliteration>{section.data.quote.source.en}</Transliteration>
              )}
            </cite>
          </footer>
      )}
    </blockquote>
  )}

  <article class="chapter-content"> <Content /> </article>

  <footer class="my-4 flex items-center justify-between">
    {previousSection && (
        <a href={`/books/${previousSection.slug}`} class="text-blue-500 hover:underline">
          ← Previous: {previousSection.data.sectionTitle ? previousSection.data.sectionTitle.en : `Chapter ${previousSection.data.chapter}`}
        </a>
    )}

    <a href={`/books/${bookId}/`} class="text-blue-500 hover:underline">
      Contents
    </a>

    {nextSection && (
        <a href={`/books/${nextSection.slug}`} class="text-blue-500 hover:underline">
          Next: {nextSection.data.sectionTitle ? nextSection.data.sectionTitle.en : `Chapter ${nextSection.data.chapter}`} →
        </a>
    )}  </footer>
  </main>
</Layout>

